Repository gardener/diki, pull requests merged in 2023-10, with the labels that each got.

#36 Update go version to `1.21.1`
  Dockerfile
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#37 Improve provider meta sorting
  pkg/report/merged_report.go
  pkg/report/render.go
  pkg/report/report.go
  pkg/report/templates/html/merged_report.html
  pkg/report/templates/html/report.html
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#38 Improve `waitPodHealthy` error message
  pkg/kubernetes/pod/pod.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#39 `pod-files` checks only files with paths part of the `volumeMounts` of the container
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner_test.go
Labels: needs/ok-to-test, needs/changes, needs/review, size/m

#42 doc: replace a broken link to cyber.trackr.live
  docs/rulesets/disa-k8s-stig.md
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#46 Fix new lines in `html` templates
  pkg/report/templates/html/merged_report.html
  pkg/report/templates/html/report.html
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#44 update go to version 1.21.2
  .github/workflows/upload-diki-binaries.yaml
  Dockerfile
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#45 Improve DISA Kubernetes STIGS `242436` rule
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242436.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242436_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#49 `SimplePodExecutor` `Execute()` return `stderr` before error code
  pkg/kubernetes/pod/pod.go
Labels: needs/ok-to-test

#47 Create `diki` pods only on nodes with free allocatable pod space for `pod-files` rule
  pkg/provider/gardener/internal/utils/utils.go
  pkg/provider/gardener/internal/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#50 Update go to version 1.21.3
  .github/workflows/upload-diki-binaries.yaml
  Dockerfile
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#53 Fix DISA Kubernetes STIGs`245541` rule name
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r8/245541.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#52 Add `expectedFileOwner` option to `pod-files` rule
  example/config/gardener.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/options.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#55 Always return all check results for `pod-files` rule
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner_test.go
Labels: needs/ok-to-test, needs/review, size/xs

#56 [Kubernetes STIG v1r10] 242442: check only Gardener managed pods in shoot
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242442.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242442_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#54 Add GetSingleAllocatableNodePerWorker function to internal utils
  pkg/provider/gardener/internal/utils/utils.go
  pkg/provider/gardener/internal/utils/utils_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#58 [Kubernetes STIG v1r10] 242442: use imageID instead of image name for comparison
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242442.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242442_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#57 [Kubernetes STIG v1r10] 242387: create pods only on nodes with allocatable spot
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242387_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#59 [Kubernetes STIG v1r10] Kubelet rules: create pods only on nodes with allocatable spots
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242387_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242391_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242392_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242397_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242399_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242404_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242420_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242424_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242425_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242434.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242434_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/245541_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/254801.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/254801_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/node_files_permissions_and_owner_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl
