Repository gardener/diki, pull requests merged in 2023-11, with the labels that each got.

#61 [Kubernetes STIG v1r10] 242415 rule: add new option to select pods to accept
  example/config/gardener.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242414.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242415.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242415_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/options.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/m

#60 [Kubernetes STIG v1r10] pod-files rule: add check for 242467 rule
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#69 Extract constants to kubernetes/pod
  pkg/kubernetes/pod/privileged.go
  pkg/kubernetes/utils/utils.go
  pkg/provider/gardener/constants.go
  pkg/provider/gardener/provider.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242393.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242394.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242417.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242434.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/254801.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242393.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242394.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242417.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242434.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/254801.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#71 Virtual Garden Provider implementation
  .golangci.yaml
  cmd/diki/main.go
  docs/providers/virtualgarden.md
  example/config/virtualgarden.yaml
  pkg/provider/builder/virtualgarden.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/options.go
  pkg/provider/virtualgarden/provider.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/options.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242376.go
  pkg/shared/ruleset/disak8sstig/v1r11/242376_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/ids.go
  pkg/shared/ruleset/disak8sstig/v1r11/v1r11_suite_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#72 Reuse implementations across providers and rulesets
  pkg/provider/gardener/provider.go
  pkg/provider/gardener/ruleset/disak8sstig/ruleset.go
  pkg/provider/virtualgarden/provider.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/ruleset.go
  pkg/shared/provider/provider.go
  pkg/shared/ruleset/ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#73 Share 242378
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242378.go
  pkg/shared/ruleset/disak8sstig/v1r11/242378_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s
