Repository gardener/diki, pull requests merged in 2024-11, with the labels that each got.

#344 Do not report empty targets
  pkg/report/report.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#342 Add `Security Hardened Kubernetes Cluster` ruleset version `v0.1.0`
  docs/rulesets/security-hardened-k8s-cluster/ruleset.md
  docs/rulesets/security-hardened-k8s-cluster/security-hardened-k8s-cluster-v0.1.0.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#343 [Security Hardened Shoot Cluster] Rule 2003 implementation
  .golangci.yaml
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2003.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2003_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/rules_suite_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v01_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#346 Use nil slices instead of empty initialization
  cmd/diki/app/app.go
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242414.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242415.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242442.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242414.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242415.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242442.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242442.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242466.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242467.go
  pkg/report/report.go
  pkg/shared/ruleset/disak8sstig/rules/242379.go
  pkg/shared/ruleset/disak8sstig/rules/242380.go
  pkg/shared/ruleset/disak8sstig/rules/242383.go
  pkg/shared/ruleset/disak8sstig/rules/242387.go
  pkg/shared/ruleset/disak8sstig/rules/242391.go
  pkg/shared/ruleset/disak8sstig/rules/242392.go
  pkg/shared/ruleset/disak8sstig/rules/242393.go
  pkg/shared/ruleset/disak8sstig/rules/242394.go
  pkg/shared/ruleset/disak8sstig/rules/242395.go
  pkg/shared/ruleset/disak8sstig/rules/242397.go
  pkg/shared/ruleset/disak8sstig/rules/242399.go
  pkg/shared/ruleset/disak8sstig/rules/242404.go
  pkg/shared/ruleset/disak8sstig/rules/242406.go
  pkg/shared/ruleset/disak8sstig/rules/242407.go
  pkg/shared/ruleset/disak8sstig/rules/242417.go
  pkg/shared/ruleset/disak8sstig/rules/242420.go
  pkg/shared/ruleset/disak8sstig/rules/242422.go
  pkg/shared/ruleset/disak8sstig/rules/242423.go
  pkg/shared/ruleset/disak8sstig/rules/242424.go
  pkg/shared/ruleset/disak8sstig/rules/242425.go
  pkg/shared/ruleset/disak8sstig/rules/242426.go
  pkg/shared/ruleset/disak8sstig/rules/242427.go
  pkg/shared/ruleset/disak8sstig/rules/242428.go
  pkg/shared/ruleset/disak8sstig/rules/242432.go
  pkg/shared/ruleset/disak8sstig/rules/242433.go
  pkg/shared/ruleset/disak8sstig/rules/242434.go
  pkg/shared/ruleset/disak8sstig/rules/242445.go
  pkg/shared/ruleset/disak8sstig/rules/242446.go
  pkg/shared/ruleset/disak8sstig/rules/242447.go
  pkg/shared/ruleset/disak8sstig/rules/242448.go
  pkg/shared/ruleset/disak8sstig/rules/242449.go
  pkg/shared/ruleset/disak8sstig/rules/242450.go
  pkg/shared/ruleset/disak8sstig/rules/242452.go
  pkg/shared/ruleset/disak8sstig/rules/242453.go
  pkg/shared/ruleset/disak8sstig/rules/242459.go
  pkg/shared/ruleset/disak8sstig/rules/242460.go
  pkg/shared/ruleset/disak8sstig/rules/245541.go
  pkg/shared/ruleset/disak8sstig/rules/245544.go
  pkg/shared/ruleset/disak8sstig/rules/254800.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#347 Add severity to Security Hardened Shoot Cluster rules
  docs/rulesets/security-hardened-shoot-cluster/security-hardened-shoot-cluster-v0.1.0.yaml
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2003.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2003_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#338 Refactor label matching for ETCD pods
  pkg/provider/gardener/ruleset/disak8sstig/rules/242451.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242451_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242466.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242466_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242467.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242467_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242451.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242451_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242466.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242466_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242467.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242467_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v2r1_ruleset.go
  pkg/shared/ruleset/disak8sstig/rules/242445.go
  pkg/shared/ruleset/disak8sstig/rules/242445_test.go
  pkg/shared/ruleset/disak8sstig/rules/242459.go
  pkg/shared/ruleset/disak8sstig/rules/242459_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#350 Reduce entered namespaces by `nsenter`
  pkg/kubernetes/pod/privileged.go
  pkg/kubernetes/pod/privileged_test.go
Labels: needs/ok-to-test, needs/review, size/xs

#351 Improve DISA K8s STIG rule 242382 to also check `AuthorizationConfiguration`
  pkg/internal/utils/set.go
  pkg/internal/utils/set_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v2r1_ruleset.go
  pkg/shared/ruleset/disak8sstig/rules/242382.go
  pkg/shared/ruleset/disak8sstig/rules/242382_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#358 Add Rule 2001 to Security Hardened Shoot Ruleset
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2001.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2001_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v01_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#360 Add Rule 2002 to the Security Hardened Shoot Ruleset
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2001_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2002.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2002_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2003_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v01_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#362 [Security Hardened Shoot Cluster] Rule 2000 Implementation
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2000.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2000_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v01_ruleset.go
Labels: needs/ok-to-test, needs/changes, size/m

#364 Lower diki pod lifetime to 300 seconds
  pkg/kubernetes/pod/privileged.go
  pkg/kubernetes/pod/privileged_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#367 Format readme
  README.md
Labels: needs/ok-to-test, needs/review, size/s

#366 [Security Hardened Shoot Cluster] Rule 2006 Implementation
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2006.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2006_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v01_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#365 [Security Hardened Shoot Cluster] Rule 2004 Implementation
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2004.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2004_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v01_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#371 [Security Hardened Kubernetes Cluster] Rule 2008 implementation
  .golangci.yaml
  docs/rulesets/security-hardened-k8s/ruleset.md
  docs/rulesets/security-hardened-k8s/security-hardened-k8s-v0.1.0.yaml
  example/config/managedk8s.yaml
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/doc.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/options.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/rules_suite_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/v01_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/l

#375 [Security Hardened Kubernetes Cluster] Rule 2001 implementation
  docs/rulesets/security-hardened-k8s/ruleset.md
  example/config/managedk8s.yaml
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/options.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/v01_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#376 [Security Hardened Kubernetes Cluster] Rule 2004 implementation
  example/config/managedk8s.yaml
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2004.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2004_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/options.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/v01_ruleset.go
  pkg/shared/kubernetes/option/options.go
  pkg/shared/kubernetes/option/options_suite_test.go
  pkg/shared/kubernetes/option/options_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#374 [Security Hardened Shoot Cluster] Rule 2007 Implementation
  example/config/garden.yaml
  example/config/gardener.yaml
  pkg/internal/kubernetes/utils/utils.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2007.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/2007_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/options.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v01_ruleset.go
  pkg/shared/ruleset/disak8sstig/rules/254800.go
  pkg/shared/ruleset/disak8sstig/rules/254800_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#381 [Security Hardened Shoot Cluster] Rule 1000 Implementation
  example/config/garden.yaml
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1000.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1000_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/options.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v01_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#384 Add usage documentation
  docs/usage/disa-k8s-stig-shoot.md
  docs/usage/partial-disa-k8s-stig-shoot.md
  example/guides/disa-k8s-stig-shoot.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#382 [Security Hardened Kubernetes Cluster] Rule 2006 implementation
  example/config/managedk8s.yaml
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2004.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2004_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2006.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2006_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/options.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/v01_ruleset.go
  pkg/shared/kubernetes/option/options.go
  pkg/shared/kubernetes/option/options_test.go
Labels: needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl

#383 [Security Hardened Kubernetes Cluster] Rule 2000 implementation
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2000.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2000_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/v01_ruleset.go
Labels: needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/l

#385 Rephrase parts of the disa k8s stig shoot guide
  docs/usage/disa-k8s-stig-shoot.md
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#387 [Security Hardened Kubernetes Cluster] Rule 2002 implementation
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2002.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2002_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/v01_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m
