Repository gardener/diki, pull requests merged in 2024-01, with the labels that each got.

#83 Add MatchFileOwnersCases() to internal utils
  pkg/provider/gardener/internal/utils/utils.go
  pkg/provider/gardener/internal/utils/utils_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#91 Create custom diki-ops image definition
  .ci/pipeline_definitions
  Dockerfile
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#94 [DISA K8s STIG] Fix typo in pod-files rule
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#97 [DISA K8s STIG] Fix target of rule 242415
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242415.go
Labels: needs/ok-to-test, needs/review, size/xs

#96 Move GetNodesAllocatablePodsNum() & SelectPodOfReferenceGroup() to pkg/kubernetes/utils
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/internal/utils/utils.go
  pkg/provider/gardener/internal/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242434.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/254801.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242434.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/254801.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#93 Switch GCR -> Artifact-Registry
  .ci/pipeline_definitions
Labels: needs/ok-to-test, needs/changes, needs/review, size/xs

#95 Add GetPodMountedFileStatResults utils func
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#99 Move ExceedFilePermissions() to diki internal utils
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
  pkg/provider/gardener/internal/utils/utils.go
  pkg/provider/gardener/internal/utils/utils_test.go
Labels: needs/ok-to-test, needs/review, size/m

#100 Add OptionsFiles to internal utils
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/option/options.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#102 Add dependabot definition
  .github/dependabot.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#98 [DISA K8s STIG] Use diki-ops image for pod executor
  Makefile
  imagevector/images.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242393.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242394.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242434.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/254801.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner.go
  pkg/shared/images/images.go
  pkg/shared/ruleset/disak8sstig/v1r11/242459.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#113 Move MatchFileOwnersCases to pkg/internal/utils
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
  pkg/provider/gardener/internal/utils/utils.go
  pkg/provider/gardener/internal/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#114 Add GetDeploymentPods kubernetes utils function
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#115 Clean up package usage
  pkg/provider/gardener/internal/utils/utils.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242459.go
Labels: needs/ok-to-test, needs/review, size/s

#110 [DISA K8s STIG] 242459 check files even if GetMountedFilesStats errored
  pkg/shared/ruleset/disak8sstig/v1r11/242459.go
  pkg/shared/ruleset/disak8sstig/v1r11/242459_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#109 Return error when getContainerMountedFileStatResults fails to find file source
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs
