Repository gardener/diki, pull requests merged in 2024-12, with the labels that each got.

#390 [DISA K8s STIG] Improve rule 242418
  pkg/internal/utils/set.go
  pkg/internal/utils/set_test.go
  pkg/shared/ruleset/disak8sstig/rules/242418.go
  pkg/shared/ruleset/disak8sstig/rules/242418_test.go
Labels: needs/ok-to-test, needs/changes, needs/review, size/s

#391 [Security Hardened Kubernetes Cluster] Rule 2003 implementation
  example/config/managedk8s.yaml
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2003.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2003_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/options.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/v01_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#399 Fix `GetDeploymentPods` utils function when pod does not have `OwnerReference`
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#398 [Security Hardened Shoot Cluster] Rule 1000 check Shoot labels
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1000.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1000_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#397 Add Graceful Shutdown Implementation
  cmd/diki/app/app.go
  cmd/diki/main.go
  go.mod
  go.sum
  pkg/provider/gardener/ruleset/disak8sstig/rules/242400.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242451.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242466.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242467.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242400.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242451.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242466.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242467.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242451.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242466.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242467.go
  pkg/shared/provider/provider.go
  pkg/shared/ruleset/disak8sstig/rules/242393.go
  pkg/shared/ruleset/disak8sstig/rules/242394.go
  pkg/shared/ruleset/disak8sstig/rules/242396.go
  pkg/shared/ruleset/disak8sstig/rules/242404.go
  pkg/shared/ruleset/disak8sstig/rules/242406.go
  pkg/shared/ruleset/disak8sstig/rules/242407.go
  pkg/shared/ruleset/disak8sstig/rules/242445.go
  pkg/shared/ruleset/disak8sstig/rules/242446.go
  pkg/shared/ruleset/disak8sstig/rules/242447.go
  pkg/shared/ruleset/disak8sstig/rules/242448.go
  pkg/shared/ruleset/disak8sstig/rules/242449.go
  pkg/shared/ruleset/disak8sstig/rules/242450.go
  pkg/shared/ruleset/disak8sstig/rules/242452.go
  pkg/shared/ruleset/disak8sstig/rules/242453.go
  pkg/shared/ruleset/disak8sstig/rules/242459.go
  pkg/shared/ruleset/disak8sstig/rules/242460.go
  pkg/shared/ruleset/ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#409 Add a wildcard option for volumes contained in AcceptedPods for Rules 2003 and 2008
  example/config/managedk8s.yaml
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2003.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2003_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m
