Repository gardener/diki, pull requests merged in 2024-03, with the labels that each got.

#157 [DISA K8s STIG] Fail when kubelet does not have set kubeconfig for rules 242452 & 242453
  pkg/shared/ruleset/disak8sstig/v1r11/242452.go
  pkg/shared/ruleset/disak8sstig/v1r11/242452_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242453.go
  pkg/shared/ruleset/disak8sstig/v1r11/242453_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#155 [DISA K8s STIG] Implement shared rule 242396
  example/config/managedk8s.yaml
  go.mod
  go.sum
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242393.go
  pkg/shared/ruleset/disak8sstig/v1r11/242394.go
  pkg/shared/ruleset/disak8sstig/v1r11/242396.go
  pkg/shared/ruleset/disak8sstig/v1r11/242396_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#156 [DISA K8s STIG] Implement rule 242400 for all providers
  example/config/managedk8s.yaml
  go.mod
  go.sum
  pkg/kubernetes/config/kubeProxy.go
  pkg/kubernetes/pod/privileged.go
  pkg/kubernetes/pod/privileged_test.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242400.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242400_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242400.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242400_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11/242400.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11/242400_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242400.go
  pkg/shared/ruleset/disak8sstig/v1r11/242400_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242424.go
  pkg/shared/ruleset/disak8sstig/v1r11/242425.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#162 [DISA K8s STIG] Implement rule 242451 for all providers
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242451.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242451_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242451.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242451_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11/242451.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11/242451_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242451.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#163 [DISA K8s STIG] Implement shared rule 242383
  example/config/managedk8s.yaml
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242383.go
  pkg/shared/ruleset/disak8sstig/v1r11/242383_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242417.go
  pkg/shared/ruleset/disak8sstig/v1r11/242417_test.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/second-opinion, size/xl

#165 [DISA K8s STIG] Remove node-files rule
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#166 Minor refactor of option names for managedk8s provider
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242400.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242400_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242451.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242451_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242466.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242466_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242467.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242467_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242393.go
  pkg/shared/ruleset/disak8sstig/v1r11/242393_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242394.go
  pkg/shared/ruleset/disak8sstig/v1r11/242394_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242396.go
  pkg/shared/ruleset/disak8sstig/v1r11/242396_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242404.go
  pkg/shared/ruleset/disak8sstig/v1r11/242404_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242406.go
  pkg/shared/ruleset/disak8sstig/v1r11/242406_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242407.go
  pkg/shared/ruleset/disak8sstig/v1r11/242407_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242447.go
  pkg/shared/ruleset/disak8sstig/v1r11/242447_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242448.go
  pkg/shared/ruleset/disak8sstig/v1r11/242448_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242449.go
  pkg/shared/ruleset/disak8sstig/v1r11/242449_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242450.go
  pkg/shared/ruleset/disak8sstig/v1r11/242450_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242452.go
  pkg/shared/ruleset/disak8sstig/v1r11/242452_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242453.go
  pkg/shared/ruleset/disak8sstig/v1r11/242453_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#127 [DISA K8s STIG] Implement rule 242442
  example/config/managedk8s.yaml
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242442.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242442_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/second-opinion, size/l

#171 Update nerdctl version to 1.7.4
  Dockerfile
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#173 Remove unnecessary kubeconfig from virtual garden provider
  example/config/virtualgarden.yaml
  pkg/provider/builder/virtualgarden.go
  pkg/provider/virtualgarden/options.go
  pkg/provider/virtualgarden/provider.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/options.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#175 Validate all rule options
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242414.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242414_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242415.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242415_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242400.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242414.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242414_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242415.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242415_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242442.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242451.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242466.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242467.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/option/options.go
  pkg/shared/ruleset/disak8sstig/option/options_suite_test.go
  pkg/shared/ruleset/disak8sstig/option/options_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242383.go
  pkg/shared/ruleset/disak8sstig/v1r11/242383_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242393.go
  pkg/shared/ruleset/disak8sstig/v1r11/242394.go
  pkg/shared/ruleset/disak8sstig/v1r11/242396.go
  pkg/shared/ruleset/disak8sstig/v1r11/242404.go
  pkg/shared/ruleset/disak8sstig/v1r11/242406.go
  pkg/shared/ruleset/disak8sstig/v1r11/242407.go
  pkg/shared/ruleset/disak8sstig/v1r11/242417.go
  pkg/shared/ruleset/disak8sstig/v1r11/242417_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/242447.go
  pkg/shared/ruleset/disak8sstig/v1r11/242448.go
  pkg/shared/ruleset/disak8sstig/v1r11/242449.go
  pkg/shared/ruleset/disak8sstig/v1r11/242450.go
  pkg/shared/ruleset/disak8sstig/v1r11/242452.go
  pkg/shared/ruleset/disak8sstig/v1r11/242453.go
  pkg/shared/ruleset/disak8sstig/v1r11/245543.go
  pkg/shared/ruleset/disak8sstig/v1r11/245543_test.go
  pkg/shared/ruleset/disak8sstig/v1r11/254800.go
  pkg/shared/ruleset/disak8sstig/v1r11/254800_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#184 Add go mod tidy to renovate PRs
  .github/renovate.json5
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#189 Renovate update docker github manifests
  .github/renovate.json5
Labels: needs/ok-to-test, needs/review, size/xs

#164 Add diki diff command to create difference json between reports
  README.md
  cmd/diki/app/app.go
  pkg/report/difference.go
  pkg/report/difference_test.go
Labels: needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl

#194 Add output flag to diki run
  README.md
  cmd/diki/app/app.go
  example/config/gardener.yaml
  example/config/managedk8s.yaml
  example/config/virtualgarden.yaml
  pkg/config/config.go
Labels: needs/ok-to-test, needs/changes, needs/review, size/s

#198 Hide metadata of assessed instances in collapse element
  pkg/report/templates/html/merged_report.html
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#176 [Docu] How to run Managed K8S ruleset on a Gardener shoot cluster
  docs/usage/partial-disa-k8s-stig-shoot.md
  example/config/managedk8s.yaml
  example/guides/partial-disa-k8s-stig-shoot.yaml
Labels: needs/ok-to-test, needs/review, size/m

#201 Proofread the "Run Partial DISA K8s STIGs Ruleset Against a Gardener Shoot Cluster" topic
  docs/usage/partial-disa-k8s-stig-shoot.md
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#200 [Docu] Improve partial-disa-k8s-stig-shoot documentation
  docs/usage/partial-disa-k8s-stig-shoot.md
Labels: needs/ok-to-test, needs/review, size/xs

#202 Remove ci/hack/* files from dep5
  .reuse/dep5
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
