Repository gardener/diki, pull requests merged in 2024-02, with the labels that each got.

#112 [DISA K8s STIG] Implement rule 242460
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242460.go
  pkg/shared/ruleset/disak8sstig/v1r11/242460_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#116 [DISA K8s STIG] Implement rule 242446
  example/config/gardener.yaml
  example/config/virtualgarden.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242446.go
  pkg/shared/ruleset/disak8sstig/v1r11/242446_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#117 [DISA K8s STIG] Implement rule 242466
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242466.go
  pkg/shared/ruleset/disak8sstig/v1r11/242466_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#107 [DISA K8s STIG] Adapt rule 242382 for virtual garden cluster
  pkg/provider/virtualgarden/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242382.go
  pkg/shared/ruleset/disak8sstig/v1r11/242382_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#121 Update go version for building diki go binaries
  .github/workflows/upload-diki-binaries.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#122 Use WithOptionalTag()
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242393.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242394.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242434.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/254801.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner.go
  pkg/shared/ruleset/disak8sstig/v1r11/242445.go
  pkg/shared/ruleset/disak8sstig/v1r11/242446.go
  pkg/shared/ruleset/disak8sstig/v1r11/242451.go
  pkg/shared/ruleset/disak8sstig/v1r11/242459.go
  pkg/shared/ruleset/disak8sstig/v1r11/242460.go
  pkg/shared/ruleset/disak8sstig/v1r11/242466.go
  pkg/shared/ruleset/disak8sstig/v1r11/242467.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/m

#126 Make repo compliant
  .reuse/dep5
  LICENSE
  LICENSES/Apache-2.0.txt
  LICENSES/CC-BY-4.0.txt
  LICENSES/MIT.txt
  README.md
  SECURITY.md
Labels: area/ipcei, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl, status/on-hold

#132 Remove logger from rule 242415
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242415.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242415_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#129 Use shared Rule IDs
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242377.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242393.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242394.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242395.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242414.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242415.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242417.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242434.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242437.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242442.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/254801.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#85 [DISA K8s STIG] Implement rule 242406
  example/config/managedk8s.yaml
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242406.go
  pkg/shared/ruleset/disak8sstig/v1r11/242406_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#125 Improve getContainerMountedFileStatResults() dir files not found error.
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#128 [DISA K8s STIG] Implement rule 242414
  example/config/managedk8s.yaml
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242414.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/242414_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#131 [DISA K8s STIG] Implement rule 242395
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242395.go
  pkg/shared/ruleset/disak8sstig/v1r11/242395_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#130 [DISA K8s STIG] Implement rule 242417
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242417.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242417_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242417.go
  pkg/shared/ruleset/disak8sstig/v1r11/242417_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#134 [DISA K8s STIG] Implement rule 242447
  example/config/managedk8s.yaml
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
  pkg/kubernetes/config/kubeProxy.go
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242447.go
  pkg/shared/ruleset/disak8sstig/v1r11/242447_test.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#135 [DISA K8s STIG] Implement rule 242387
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242387.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242387_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242387.go
  pkg/shared/ruleset/disak8sstig/v1r11/242387_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#136 [DISA K8s STIG] Implement rule 242391
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242391.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242391_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242391.go
  pkg/shared/ruleset/disak8sstig/v1r11/242391_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#137 [DISA K8s STIG] Implement rule 242392
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242392.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242392_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242392.go
  pkg/shared/ruleset/disak8sstig/v1r11/242392_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#138 [DISA K8s STIG] Implement rule 242397
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242397.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242397_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242397.go
  pkg/shared/ruleset/disak8sstig/v1r11/242397_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#139 [DISA K8s STIG] Implement rule 242420
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242420.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242420_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242420.go
  pkg/shared/ruleset/disak8sstig/v1r11/242420_test.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#140 [DISA K8s STIG] Implement rule 242393
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242393.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242393_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242393.go
  pkg/shared/ruleset/disak8sstig/v1r11/242393_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#86 [DISA K8s STIG] Implement rule 242449
  example/config/managedk8s.yaml
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242387_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242391_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242392_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242397_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242399_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242404_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242420_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242424_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242425_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/242434_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/245541_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/254801_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r10/node_files_permissions_and_owner_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242399_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242404_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242424_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242425_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242434_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/245541_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/254801_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/node_files_permissions_and_owner_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242449.go
  pkg/shared/ruleset/disak8sstig/v1r11/242449_test.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/second-opinion, size/xl

#142 [DISA K8s STIG] Implement rule 242399
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242399.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242399_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242399.go
  pkg/shared/ruleset/disak8sstig/v1r11/242399_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#143 [DISA K8s STIG] Implement rule 242424
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242424.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242424_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242424.go
  pkg/shared/ruleset/disak8sstig/v1r11/242424_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#144 [DISA K8s STIG] Implement rule 242425
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242425.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242425_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242425.go
  pkg/shared/ruleset/disak8sstig/v1r11/242425_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#146 [DISA K8s STIG] Implement rule 245541
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/245541.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/245541_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/245541.go
  pkg/shared/ruleset/disak8sstig/v1r11/245541_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#90 [DISA K8s STIG] Implement rule 242453
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242453.go
  pkg/shared/ruleset/disak8sstig/v1r11/242453_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#148 [DISA K8s STIG] Implement shared rule 242394
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242394.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242394_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242394.go
  pkg/shared/ruleset/disak8sstig/v1r11/242394_test.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/second-opinion, size/l

#89 [DISA K8s STIG] Implement rule 242452
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242447.go
  pkg/shared/ruleset/disak8sstig/v1r11/242448.go
  pkg/shared/ruleset/disak8sstig/v1r11/242452.go
  pkg/shared/ruleset/disak8sstig/v1r11/242452_test.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#149 [DISA K8s STIG] Implement shared rule 242450
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242450.go
  pkg/shared/ruleset/disak8sstig/v1r11/242450_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#151 [DISA K8s STIG] Remove pod-files rule
  example/config/gardener.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/pod_files_permissions_and_owner_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#154 [DISA K8s STIG] Change rule 242459 to check for 0640 permissions
  pkg/shared/ruleset/disak8sstig/v1r11/242459.go
  pkg/shared/ruleset/disak8sstig/v1r11/242459_test.go
Labels: needs/ok-to-test, needs/review, size/xs

#150 [DISA K8s STIG] Implement shared rule 242404
  example/config/managedk8s.yaml
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242404.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11/242404_test.go
  pkg/provider/gardener/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11/options.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v1r11_ruleset.go
  pkg/shared/ruleset/disak8sstig/v1r11/242404.go
  pkg/shared/ruleset/disak8sstig/v1r11/242404_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl
