Repository gardener/diki, pull requests merged in 2025-09, with the labels that each got.

#575 [DISA K8s STIG] List endpoints when options are missing for rule 242390
  pkg/shared/ruleset/disak8sstig/rules/242390.go
  pkg/shared/ruleset/disak8sstig/rules/242390_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, size/xs

#581 Clean up `.ci` directory
  .ci/hack/component_descriptor
  .ci/hack/doc.go
  .ci/hack/prepare_release
  .ci/hack/set_dependency_version
  .ci/set_dependency_version
  .ci/verify
  Makefile
  go.mod
Labels: reviewed/ok-to-test, needs/review, needs/second-opinion, size/l

#600 Do not error when CA files are missing
  pkg/provider/managedk8s/ruleset/disak8sstig/v2r2_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v2r3_ruleset.go
Labels: kind/bug, size/M, cla: yes, approved, lgtm, reviewed/ok-to-test

#597 managedk8s provider - Additional options for kubeconfig
  .gitignore
  docs/providers/managedk8s.md
  example/config/managedk8s.yaml
  pkg/provider/managedk8s/export_test.go
  pkg/provider/managedk8s/managedk8s_suite_test.go
  pkg/provider/managedk8s/provider.go
  pkg/provider/managedk8s/provider_test.go
Labels: kind/enhancement, size/L, cla: yes, ok-to-test, approved, lgtm, reviewed/ok-to-test
