Repository gardener/diki, pull requests merged in 2025-07, with the labels that each got.

#519 Refactor CheckResult Targets for the Security Hardened Kubernetes Ruleset
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2000.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2000_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2002.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2002_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2003.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2003_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2004.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2004_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2005.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2005_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2006.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2006_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2007.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2007_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008_test.go
Labels: needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl

#525 Use stable targets for shared rules - Part 3
  pkg/shared/ruleset/disak8sstig/rules/242452.go
  pkg/shared/ruleset/disak8sstig/rules/242452_test.go
  pkg/shared/ruleset/disak8sstig/rules/242453.go
  pkg/shared/ruleset/disak8sstig/rules/242453_test.go
  pkg/shared/ruleset/disak8sstig/rules/242459.go
  pkg/shared/ruleset/disak8sstig/rules/242459_test.go
  pkg/shared/ruleset/disak8sstig/rules/242460.go
  pkg/shared/ruleset/disak8sstig/rules/242460_test.go
  pkg/shared/ruleset/disak8sstig/rules/242461.go
  pkg/shared/ruleset/disak8sstig/rules/242461_test.go
  pkg/shared/ruleset/disak8sstig/rules/242462.go
  pkg/shared/ruleset/disak8sstig/rules/242462_test.go
  pkg/shared/ruleset/disak8sstig/rules/242463.go
  pkg/shared/ruleset/disak8sstig/rules/242463_test.go
  pkg/shared/ruleset/disak8sstig/rules/242464.go
  pkg/shared/ruleset/disak8sstig/rules/242464_test.go
  pkg/shared/ruleset/disak8sstig/rules/245541.go
  pkg/shared/ruleset/disak8sstig/rules/245541_test.go
  pkg/shared/ruleset/disak8sstig/rules/245542.go
  pkg/shared/ruleset/disak8sstig/rules/245542_test.go
  pkg/shared/ruleset/disak8sstig/rules/245543.go
  pkg/shared/ruleset/disak8sstig/rules/245543_test.go
  pkg/shared/ruleset/disak8sstig/rules/245544.go
  pkg/shared/ruleset/disak8sstig/rules/245544_test.go
  pkg/shared/ruleset/disak8sstig/rules/254800.go
  pkg/shared/ruleset/disak8sstig/rules/254800_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#526 Refactor Targets for DISA STIG rules implemented for the Gardener Provider
  pkg/provider/gardener/ruleset/disak8sstig/rules/242377.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242377_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242400.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242400_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242415.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242415_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242442.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242442_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242451.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242451_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242466.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242466_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242467.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242467_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#530 Refactor rules from the Managed Kubernetes provider to use stable targets
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242400.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242451.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242466.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242467.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242400.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242400_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242415.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242415_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242442.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242442_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242451.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242451_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242466.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242466_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242467.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242467_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242451.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242466.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242467.go
  pkg/shared/ruleset/disak8sstig/rules/242409.go
  pkg/shared/ruleset/disak8sstig/rules/242409_test.go
  pkg/shared/ruleset/disak8sstig/rules/242445.go
  pkg/shared/ruleset/disak8sstig/rules/242446.go
  pkg/shared/ruleset/disak8sstig/rules/242447.go
  pkg/shared/ruleset/disak8sstig/rules/242448.go
  pkg/shared/ruleset/disak8sstig/rules/242459.go
  pkg/shared/ruleset/disak8sstig/rules/242460.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#540 export testresults as inlined ocm-resource
  .github/workflows/build.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, size/s
