Repository gardener/diki, pull requests merged in 2025-03, with the labels that each got.

#445 Add rule IDs in ruleset documentation files
  docs/rulesets/security-hardened-k8s/ruleset.md
  docs/rulesets/security-hardened-shoot-cluster/ruleset.md
Labels: needs/ok-to-test, needs/review, size/s

#449 Update diki binaries in homebre tap and chocolatey
  .github/workflows/upload-diki-binaries.yaml
Labels: needs/ok-to-test, needs/review, size/s

#451 Use websocket executor as primary
  pkg/kubernetes/pod/pod.go
Labels: needs/ok-to-test, needs/review, size/xs

#434 Refactor rules that check `Pod` containers to also check containers in `initContainers`
  docs/rulesets/security-hardened-k8s/ruleset.md
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242414.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242414_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242415.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242415_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242442.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242442_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242414.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242414_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242415.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242415_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242442.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242442_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2004.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2005.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2005_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2006.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2007.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242442.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242442_test.go
Labels: needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl

#453 [DISA K8s STIG] Improve rule 242436
  pkg/shared/ruleset/disak8sstig/rules/242436.go
  pkg/shared/ruleset/disak8sstig/rules/242436_test.go
Labels: needs/ok-to-test, needs/review, size/xs

#455 [Security Hardened Kubernetes Cluster] Rule 2005 return errored checkResult when imageID is empty
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2005.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2005_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#462 [Security Hardened Shoot Cluster] Rule 1001 Implementation
  docs/rulesets/security-hardened-shoot-cluster/ruleset.md
  docs/rulesets/security-hardened-shoot-cluster/security-hardened-shoot-cluster-v0.2.0.yaml
  example/config/garden.yaml
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1001.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1001_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/options.go
  pkg/provider/garden/ruleset/securityhardenedshoot/ruleset.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v02_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl

#454 [Security Hardened Shoot Cluster] Rule 1003 implementation
  docs/rulesets/security-hardened-shoot-cluster/ruleset.md
  docs/rulesets/security-hardened-shoot-cluster/security-hardened-shoot-cluster-v0.2.0.yaml
  go.mod
  go.sum
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1000.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1000_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1002.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1002_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1003.go
  pkg/provider/garden/ruleset/securityhardenedshoot/rules/1003_test.go
  pkg/provider/garden/ruleset/securityhardenedshoot/v02_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l

#463 Release and use v0.2.0 of Security Hardened Shoot Cluster
  docs/providers/garden.md
  docs/rulesets/security-hardened-shoot-cluster/security-hardened-shoot-cluster-v0.2.0.yaml
  example/guides/disa-k8s-stig-shoot.yaml
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/xs

#464 Update Security Hardened Shoot Cluster rule count
  pkg/provider/garden/ruleset/securityhardenedshoot/v02_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
