Repository gardener/diki, pull requests merged in 2025-06, with the labels that each got.

#509 Skip diki privileged pods from checks
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2001_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2003.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2003_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2008_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#516 fix spelling in diki app
  README.md
  cmd/diki/app/app.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#518 Refactor the Status of checkResults that imply an empty ImageID in Rules 2005 (Security Hardened Kubernetes) and 242442 (DISA STIG)
  pkg/provider/gardener/ruleset/disak8sstig/rules/242442.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242442_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242442.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242442_test.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2005.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2005_test.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242442.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/rules/242442_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s

#521 Use static values shared rules - Part 1
  pkg/kubernetes/utils/utils.go
  pkg/kubernetes/utils/utils_test.go
  pkg/provider/gardener/ruleset/disak8sstig/rules/242414.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242414.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242451_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242466_test.go
  pkg/provider/managedk8s/ruleset/disak8sstig/rules/242467_test.go
  pkg/shared/ruleset/disak8sstig/rules/242376.go
  pkg/shared/ruleset/disak8sstig/rules/242376_test.go
  pkg/shared/ruleset/disak8sstig/rules/242378.go
  pkg/shared/ruleset/disak8sstig/rules/242378_test.go
  pkg/shared/ruleset/disak8sstig/rules/242379.go
  pkg/shared/ruleset/disak8sstig/rules/242379_test.go
  pkg/shared/ruleset/disak8sstig/rules/242380.go
  pkg/shared/ruleset/disak8sstig/rules/242380_test.go
  pkg/shared/ruleset/disak8sstig/rules/242381.go
  pkg/shared/ruleset/disak8sstig/rules/242381_test.go
  pkg/shared/ruleset/disak8sstig/rules/242382.go
  pkg/shared/ruleset/disak8sstig/rules/242382_test.go
  pkg/shared/ruleset/disak8sstig/rules/242383.go
  pkg/shared/ruleset/disak8sstig/rules/242383_test.go
  pkg/shared/ruleset/disak8sstig/rules/242386.go
  pkg/shared/ruleset/disak8sstig/rules/242386_test.go
  pkg/shared/ruleset/disak8sstig/rules/242387.go
  pkg/shared/ruleset/disak8sstig/rules/242387_test.go
  pkg/shared/ruleset/disak8sstig/rules/242388.go
  pkg/shared/ruleset/disak8sstig/rules/242388_test.go
  pkg/shared/ruleset/disak8sstig/rules/242389.go
  pkg/shared/ruleset/disak8sstig/rules/242389_test.go
  pkg/shared/ruleset/disak8sstig/rules/242390.go
  pkg/shared/ruleset/disak8sstig/rules/242390_test.go
  pkg/shared/ruleset/disak8sstig/rules/242391.go
  pkg/shared/ruleset/disak8sstig/rules/242391_test.go
  pkg/shared/ruleset/disak8sstig/rules/242392.go
  pkg/shared/ruleset/disak8sstig/rules/242392_test.go
  pkg/shared/ruleset/disak8sstig/rules/242393.go
  pkg/shared/ruleset/disak8sstig/rules/242393_test.go
  pkg/shared/ruleset/disak8sstig/rules/242394.go
  pkg/shared/ruleset/disak8sstig/rules/242394_test.go
  pkg/shared/ruleset/disak8sstig/rules/242395.go
  pkg/shared/ruleset/disak8sstig/rules/242395_test.go
  pkg/shared/ruleset/disak8sstig/rules/242396.go
  pkg/shared/ruleset/disak8sstig/rules/242396_test.go
  pkg/shared/ruleset/disak8sstig/rules/242397.go
  pkg/shared/ruleset/disak8sstig/rules/242397_test.go
  pkg/shared/ruleset/disak8sstig/rules/242402.go
  pkg/shared/ruleset/disak8sstig/rules/242402_test.go
  pkg/shared/ruleset/disak8sstig/rules/242403.go
  pkg/shared/ruleset/disak8sstig/rules/242403_test.go
  pkg/shared/ruleset/disak8sstig/rules/242404.go
  pkg/shared/ruleset/disak8sstig/rules/242404_test.go
  pkg/shared/ruleset/disak8sstig/rules/242406.go
  pkg/shared/ruleset/disak8sstig/rules/242406_test.go
  pkg/shared/ruleset/disak8sstig/rules/242407.go
  pkg/shared/ruleset/disak8sstig/rules/242407_test.go
  pkg/shared/ruleset/disak8sstig/rules/242449_test.go
  pkg/shared/ruleset/disak8sstig/rules/242450_test.go
  pkg/shared/ruleset/disak8sstig/rules/242452_test.go
  pkg/shared/ruleset/disak8sstig/rules/242453_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l
