Repository gardener/diki, pull requests merged in 2025-05, with the labels that each got.

#480 [DISA K8s STIG] Add support for version v2r3
  README.md
  docs/providers/gardener.md
  docs/providers/managedk8s.md
  docs/providers/virtualgarden.md
  example/config/gardener.yaml
  example/config/managedk8s.yaml
  example/config/virtualgarden.yaml
  example/guides/disa-k8s-stig-shoot.yaml
  hack/run.sh
  pkg/provider/gardener/ruleset/disak8sstig/ruleset.go
  pkg/provider/gardener/ruleset/disak8sstig/v2r3_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v2r3_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v2r3_ruleset.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#481 [DISA K8s STIG] Refactor rule 242459
  pkg/internal/utils/utils.go
  pkg/internal/utils/utils_test.go
  pkg/shared/ruleset/disak8sstig/rules/242459.go
  pkg/shared/ruleset/disak8sstig/rules/242459_test.go
Labels: area/ipcei, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#486 [Security Hardened Kubernetes Cluster] Modify Rule 2000 to check for a `default-allow` NetworkPolicy
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2000.go
  pkg/provider/managedk8s/ruleset/securityhardenedk8s/rules/2000_test.go
Labels: needs/ok-to-test, needs/changes, size/m

#496 Retry rules on not found object by `nerdctl`
  pkg/provider/gardener/ruleset/disak8sstig/v2r2_ruleset.go
  pkg/provider/gardener/ruleset/disak8sstig/v2r3_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v2r2_ruleset.go
  pkg/provider/managedk8s/ruleset/disak8sstig/v2r3_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v2r2_ruleset.go
  pkg/provider/virtualgarden/ruleset/disak8sstig/v2r3_ruleset.go
  pkg/shared/ruleset/disak8sstig/retryerrors/retryerrors.go
  pkg/shared/ruleset/disak8sstig/retryerrors/retryerrors_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
